html {
  font-family: Helvetica;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: left;
}
b {
  color: blue;
}
#banner {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}
#brushes_title{
  background-color: mediumspringgreen;
}
#frames_title{
  background-color: lightcoral;
}
#paint_title{
  background-color: skyblue;
}
